[project]
	description = student management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZeweiWu (WUzewei)
[access "refs/for/refs/*"]
	read = group user/ZeweiWu (WUzewei)
	push = group user/ZeweiWu (WUzewei)
	label-Code-Review = -2..+2 group user/ZeweiWu (WUzewei)
	label-Verified = -1..+1 group user/ZeweiWu (WUzewei)
	rebase = group user/ZeweiWu (WUzewei)
	removeReviewer = group user/ZeweiWu (WUzewei)
	submit = group user/ZeweiWu (WUzewei)
[access "refs/heads/*"]
	read = group user/ZeweiWu (WUzewei)
	create = group user/ZeweiWu (WUzewei)
	push = +force group user/ZeweiWu (WUzewei)
	pushMerge = group user/ZeweiWu (WUzewei)
[access "refs/tags/*"]
	push = group user/ZeweiWu (WUzewei)
	push = +force group user/ZeweiWu (WUzewei)
